{% extends "base.html.twig" %}
{% form_theme form 'form/bootstrap_3_layout.html.twig' %}

{% block titre_page %}{% if is_granted('ROLE_USER') %}TEST{% else %}Register{% endif %}{% endblock %}

{% block supra_content %}
<section class="">
    <div class="container-fluid">
        <div class="row" style="margin-top: 10%;">

            <div class="col-md-4 col-lg-offset-4 col-md-offset-4">
            <div class="card">
                <div class="header bg-cyan align-center">
                    <h2>
                        Création du compte
                    </h2>
                </div>
                {{ form_start(form) }}
                <div class="body align-center">
                    {{ form_row(form.firstName, {'label': 'Prénom'}) }}
                    {{ form_row(form.lastName, {'label': 'Nom'}) }}
                    {{ form_row(form.username, {'label': "Nom d'utilisateur"}) }}
                    {{ form_row(form.email, {'label': 'Email'}) }}
                    {{ form_row(form.password, {'label': 'Mot de passe'}) }}
                    {{ form_row(form.confirmpassword, {'label': 'Confirmer le mot de passe'}) }}
                </div>
                <div class="card-footer align-center">
                    <button type="submit" class="btn bg-light-green waves-effect btn-card-footer">
                        Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
