{% extends 'base.html.twig' %}

{% block content %}
    <h1>
        Panel d'administration
    </h1>
    <div class="row">
        <a href="{{ path('admin') }}">
            <div class="col-md-4">
                <div class="info-box-3 link-btn bg-cyan mauve1 hover-zoom-effect">
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="content">
                        <div class="text">Utilisateurs</div>
                        <div class="number">{{ nbusers }}</div>
                    </div>
                </div>
            </div>
        </a>

        <a href="{{ path('admin_list') }}">
            <div class="col-md-4">
                <div class="info-box-3 link-btn bg-cyan corail1 hover-zoom-effect">
                    <div class="icon">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <div class="content">
                        <div class="text">Admins</div>
                        <div class="number">{{ nbadmins }}</div>
                    </div>
                </div>
            </div>
        </a>

        <a href="{{ path('admin') }}">
            <div class="col-md-4">
                <div class="info-box-3 link-btn bg-cyan jaune1 hover-zoom-effect">
                    <div class="icon">
                        <i class="fas fa-list-ol"></i>
                    </div>
                    <div class="content">
                        <div class="text">Challenges</div>
                        <div class="number">{{ nbchalls }}</div>
                    </div>
                </div>
            </div>
        </a>

    </div>

    <div class="row">
        <a href="{{ path('admin') }}">
            <div class="col-md-4">
                <div class="info-box-3 link-btn bg-cyan bleu1 hover-zoom-effect">
                    <div class="icon">
                        <i class="fas fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <div class="text">Tentatives</div>
                        <div class="number">{{ nbattempts }}</div>
                    </div>
                </div>
            </div>
        </a>

        <a href="{{ path('admin') }}">
            <div class="col-md-4">
                <div class="info-box-3 link-btn bg-cyan rose1 hover-zoom-effect">
                    <div class="icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="content">
                        <div class="text">Validations</div>
                        <div class="number">{{ nbvalidations }}</div>
                    </div>
                </div>
            </div>
        </a>


    </div>
{% endblock %}
