{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="header">
            <h1>Admins, Modos, Users </h1>
        </div>
        <div class="body">
            <div class="tab-content">
                {% for admin in adminlist %}
                    <div class="row">
                        <a href="{{ path('user_id', {'id':admin.id}) }}" class="list-group-item">
                            <div class="col-md-4">
                                <h4 class="list-group-item-heading">{{ admin.firstName }} "{{ admin.username }}" {{ admin.lastName }}</h4>
                            </div>
                        </a>
                        <a href="{{ path('demote_admin', {'id':admin.id}) }}">
                            <div class="col-md-2 align-center" data-toggle="tooltip" data-placement="top" title="Demote Admin to Modo">
                                <i class="material-icons">all_out</i>
                            </div>
                        </a>
                        <a href="{{ path('demote_modo', {'id':admin.id}) }}">
                            <div class="col-md-2 align-center" data-toggle="tooltip" data-placement="top" title="Demote Admin to User">
                                <i class="material-icons">all_out</i>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% for modo in modolist %}
                    <div class="row">
                        <a href="{{ path('user_id', {'id':modo.id}) }}" class="list-group-item">
                            <div class="col-md-4">
                                <h4 class="list-group-item-heading">{{ modo.firstName }} "{{ modo.username }}" {{ modo.lastName }}</h4>
                            </div>
                        </a>
                        <a href="{{ path('promote_admin', {'id':modo.id}) }}">
                            <div class="col-md-2 align-center" data-toggle="tooltip" data-placement="top" title="Promote Modo to Admin">
                                <i class="material-icons">all_out</i>
                            </div>
                        </a>
                        <a href="{{ path('demote_modo', {'id':modo.id}) }}">
                            <div class="col-md-2 align-center">
                                <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Demote Modo to User">all_out</i>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% for user in userlist %}
                    <div class="row">
                        <a href="{{ path('user_id', {'id':user.id}) }}" class="list-group-item">
                            <div class="col-md-4">
                                <h4 class="list-group-item-heading">{{ user.firstName }} "{{ user.username }}" {{ user.lastName }}</h4>
                            </div>
                        </a>
                        <a href="{{ path('promote_admin', {'id':user.id}) }}">
                            <div class="col-md-2 align-center" data-toggle="tooltip" data-placement="top" title="Promote User to Admin">
                                <i class="material-icons">all_out</i>
                            </div>
                        </a>
                        <a href="{{ path('promote_modo', {'id':user.id}) }}">
                            <div class="col-md-2 align-center" data-toggle="tooltip" data-placement="top" title="Promote User to Modo">
                                <i class="material-icons">all_out</i>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
