{% extends 'base.html.twig' %}
{% form_theme form 'form/bootstrap_3_layout.html.twig' %}


{% block content %}
    <div class="card">
        <div class="header" style="text-align: center;">
            <h1>
                Créer un challenge
            </h1>
        </div>
        <div class="body">
            {{ form_start(form) }}
            <div class="body align-center">
                {{ form_row(form.name, {'label': 'Nom'}) }}
                {{ form_row(form.description, {'label': 'Description'}) }}
                {{ form_row(form.password, {'label': 'Solution'}) }}
                {{ form_row(form.difficulty, {'label': 'Difficulté (de 1 à 5)'}) }}
                {{ form_row(form.reward, {'label': 'Récompense'}) }}
            </div>
            <div class="card-footer align-center">
                <button type="submit" class="btn bg-green waves-effect btn-card-footer">
                    <span>Créer !</span></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
