{% extends 'base.html.twig' %}

{% block title %}Hello ChallengeController!{% endblock %}

{% block content %}
    <div class="card">
        <div class="header">
            <div class="row">
                <div class="col-md-8"><h1>Liste des Challenges </h1></div>
                <form action="{{ path('challenge_creer') }}" method="get" class="col-md-4">
                    <button type="submit" class="btn bg-amber waves-effect btn-lg">Créer un Challenge</button>
                </form>
            </div>
            Cliquez dessus pour y participer
        </div>
        <div class="body">
            <div class="tab-content">
                {% for chall in challList %}
                <a class="col-md-8 list-group-item" href="{{ path('challenge_rep', {'id':chall.id}) }}" style="height: 100%">
                    <div class="row list-group-item">
                            <div class="col-md-6">
                                <h4 class="list-group-item-heading">{{ chall.name }}</h4>
                            </div>
                            <div class="col-md-6">
                                <p class="list-group-item-text">
                                    Difficulté : {{ chall.difficulty }}<br/>
                                    Récompense : {{ chall.reward }}
                                </p>
                            </div>

                        <a class="col-md-4 list-group-item" href="{{ path('user_id', {'id':chall.createdBy.id}) }}" style="height: 100%">
                            <div class="">
                                <h5> Auteur : {{ chall.createdBy.username }}</h5>
                            </div>
                        </a>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
