{% extends 'base.html.twig' %}
{% form_theme form 'form/bootstrap_3_layout.html.twig' %}


{% block content %}
    <div class="card">
        <div class="header" style="text-align: center;">
            <h1>
                {{ challenge.name }}
            </h1>
            Par {{ challenge.createdBy.username }}<br/>
            Difficulté : {{ challenge.difficulty }}; Récompense : {{ challenge.reward }}
        </div>
        <div class="body">
            {{ challenge.description|raw }}
            {{ form_start(form) }}
            <div class="body align-center">
                <h3>Bravo, c'est la bonne réponse !</h3>
                Pour valider ce challenge, donne-lui une note !
                {{ form_row(form.feedback) }}
            </div>
            <div class="card-footer align-center">
                <button type="submit" class="btn bg-green waves-effect btn-card-footer">
                    <span>Essayer !</span></button>
            </div>
            {{ form_end(form) }}
            Dernière validation par toi, maintenant !
        </div>
    </div>
{% endblock %}
