{% extends 'base.html.twig' %}
{% form_theme form 'form/bootstrap_3_layout.html.twig' %}


{% block content %}
    <div class="card">
        <div class="header" style="text-align: center;">
            <h1>
                {{ challenge.name }}
            </h1>

            <h3><span class="label bg-cyan">Récompense : {{ challenge.reward }}</span></h3>
            <h3 data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Difficulté">
                {% for i in 1..challenge.difficulty  %} <i class="fas fa-star"></i> {% endfor %}
                {% if challenge.difficulty != 5 %}
                    {% for i in 1..(5-challenge.difficulty)  %} <i class="far fa-star" ></i> {% endfor %}
                {% endif %}
            </h3>
            Par {{ challenge.createdBy.username }}<br/>
        </div>
        <div class="body">
            <div class="alert bg-cyan">
                {{ challenge.description|raw }}
            </div>
            {{ form_start(form) }}
            <div class="body align-center">

                <h3><span class="label bg-light-green">Bravo, c'est la bonne réponse !</span></h3>
                Pour valider ce challenge, donne-lui une note !
                {{ form_row(form.feedback) }}
            </div>
            <div class="card-footer align-center">
                <button type="submit" class="btn bg-light-green waves-effect btn-card-footer">
                    Envoyer</button>
            </div>
            {{ form_end(form) }}
            <div class="label bg-light-green">
                Dernière validation par toi, maintenant !
            </div>
        </div>
    </div>
{% endblock %}
