{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="header" style="text-align: center;">
            <h1>
                {{ user.firstName }} "{{ user.username }}" {{ user.lastName }}
            </h1>
            <h3><span class="label bg-cyan">Score : {{ user.score }} </span></h3>
            <h3 data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Difficulté maximale">{% if difficulty != 0 %}
                    {% for i in 1..difficulty  %} <i class="fas fa-star"></i> {% endfor %}
                    {% if difficulty != 5 %}
                        {% for i in 1..(5-difficulty)  %} <i class="far fa-star" ></i> {% endfor %}
                    {% endif %}
                {% else %}
                    {% for i in 1..5  %} <i class="far fa-star" ></i> {% endfor %}
                {% endif %}</h3>
        </div>
        <div class="body">
            <h2><span class="label bg-light-green">Challenges réussis: {{ nbChall }}</span></h2>
            {% if nbChall != 0 %}
            <div class="body table-responsive">
                <table class="table table-striped">
                    <tbody>
                    {% for chall in challList %}
                        <tr>
                            <th scope="row">{{ chall.name }}</th>
                            <td><span  data-toggle="tooltip" data-placement="top" title="" data-original-title="Difficulté">{% for i in 1..chall.difficulty  %} <i class="fas fa-star"></i> {% endfor %}
                                    {% if chall.difficulty != 5 %}
                                        {% for i in 1..(5-chall.difficulty)  %} <i class="far fa-star" ></i> {% endfor %}
                            {% endif %}</span>
                            </td>
                            <td>Récompense : {{ chall.reward }}</td>
                            <td><a class="author" href="{{ path('user_id', {'id':chall.createdBy.id}) }}" >
                                    <h5> Auteur : {{ chall.createdBy.username }}</h5>
                                </a></td>
                            <td><a class="btn bg-cyan" href="{{ path('challenge_rep', {'id':chall.id}) }}"><i class="material-icons">input</i><span class="add">Essayer</span></a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <h2><span class="label bg-amber">Challenges créés: {{ nbChallC }}</span></h2>

            {% if nbChallC != 0 %}
            <div class="body table-responsive">
                <table class="table table-striped">
                    <tbody>
                    {% for chall in createdChalls %}
                        <tr>
                            <th scope="row">{{ chall.name }}</th>
                            <td><span data-toggle="tooltip" data-placement="top" title="" data-original-title="Difficulté">{% for i in 1..chall.difficulty  %} <i class="fas fa-star"></i> {% endfor %}
                                    {% if chall.difficulty != 5 %}
                                        {% for i in 1..(5-chall.difficulty)  %} <i class="far fa-star" ></i> {% endfor %}
                            {% endif %}</span>
                            </td>
                            <td>Récompense : {{ chall.reward }}</td>
                            <td><a class="btn bg-cyan" href="{{ path('challenge_rep', {'id':chall.id}) }}"><i class="material-icons">input</i><span class="add">Essayer</span></a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
    </div>
{% endblock %}
